<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
    {% include header.html %}
    <div class="full-hero hero-home">
      <h1>I'm an h1</h1>
      <ul class="social-list">
        <li>
          <a href="http://example.com/" class="social-link">Fb</a>
        </li>
        <li>
          <a href="http://example.com/" class="social-link">Tw</a>
        </li>
        <li>
          <a href="http://example.com/" class="social-link">Gh</a>
        </li>
      </ul>
    </div>
    <h2>THE FOUNDERS</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
      in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <p>
      Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="bio-wrapper">
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400">
        <h3>Biography.</h3>
        <a href="http://example.com/" class="social-link">Tw</a>
        <div class="bio-copy">
          <p>
            p=1.
            Lorem ipsum <a href="http://example.com/">dolor</a> sit amet,
            consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna <em><a href="http://example.com/">aliqua</a></em>.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
            Duis aute irure <a href="http://example.com/">dolor</a> in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400">
        <h3>Biography.</h3>
        <a href="http://example.com/" class="social-link">Tw</a>
        <div class="bio-copy">
          <p>
            p=2.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400">
        <h3>Biography.</h3>
        <a href="http://example.com/" class="social-link">Tw</a>
        <div class="bio-copy">
          <p>
            p=3.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400">
        <h3>??</h3>
        <a href="http://example.com/" class="social-link">Tw</a>
        <p>
          The Future
        </p>
      </div>
    </div>   <!-- bio-wrapper -->
    <p>
      p=1. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do <em>eiusmod</em> tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.
    </p>
    <p>
      p=2. Lorem ipsum dolor sit amet,
      <strong>consectetur adipisicing elit</strong>,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in
      <a href="http://example.com/">voluptate velit esse</a>
      cillum dolore eu fugiat nulla pariatur.
    </p>
    <h3>Background</h3>
    <p>
      p=3. Lorem ipsum dolor sit amet,
      <a href="http://example.com/">consectetur adipisicing elit</a>,
      sed do <strong>eiusmod</strong> tempor incididunt ut labore et dolore
      magna <strong>aliqua</strong>.
      Ut enim ad minim veniam, <a href="http://example.com/">quis</a> nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea
      <a href="http://example.com/"><em>commodo</em></a> consequat.
      Duis aute irure <a href="http://example.com/">dolor</a> in reprehenderit
      in voluptate velit <strong>esse</strong> cillum dolore eu fugiat nulla pariatur.
    </p>
    {% include footer.html %}
  </body>
</html>
